.container-Personal {
	background: linear-gradient(#040e23, #03255a);
	height: 100vh;
	height: fit-content;
}
.card-personal {
	width: 80%;
	scroll-behavior: auto;
	margin: auto;
}
.box-title {
	display: flex;
}
.title {
	font-size: 2rem;
	font-weight: 700;
	color: #fff;
	margin-bottom: 0.5rem;
	text-align: left;
}
.subtitle {
	text-align: center;
	font-size: 1.4rem;
	font-weight: 400;
	color: #fff;
	margin-bottom: 0.5rem;
}
.contentButton {
	display: flex;
	justify-content: center;
	align-items: center;
}
.label {
	font-size: 1.2rem;
	font-weight: 400;
	color: #fff;
}
.box-label {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin-bottom: 1rem;
}
.terms {
	color: #fff;
}
